<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="cvti.isef.winformapp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="cvti.isef.winformapp.Properties.MainWindow" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="cvti.isef.winformapp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Data_Import_MaO_WinForm.Properties.Settings.LocalDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ISEF_TEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Data_Import_MaO_WinForm.Properties.Settings.ISEFDB" connectionString="Data Source=172.17.1.63\SQLEXPRESS;Initial Catalog=ISEF_TEST;Integrated Security=True"/>
        <add name="cvti.isef.winformapp.Properties.Settings.LocalDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ISEF_TEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="cvti.isef.winformapp.Properties.Settings.ISEFDB" connectionString="Data Source=172.17.1.63\SQLEXPRESS;Initial Catalog=ISEF_TEST;Integrated Security=True"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<userSettings>
        <cvti.isef.winformapp.Properties.Settings>
                <setting name="DatabaseName" serializeAs="String">
                        <value>ISEF_TEST</value>
                </setting>
                <setting name="OutputDirectory" serializeAs="String">
                        <value>./Output/</value>
                </setting>
                <setting name="DataDirectory" serializeAs="String">
                        <value>./Data/</value>
                </setting>
                <setting name="HlavickyDirectory" serializeAs="String">
                        <value>./Hlavicky/</value>
                </setting>
                <setting name="DatabaseLogin" serializeAs="String">
                        <value/>
                </setting>
                <setting name="DatabasePassword" serializeAs="String">
                        <value/>
                </setting>
                <setting name="ServerAddress" serializeAs="String">
                        <value>(LocalDb)\MSSQLLocalDB</value>
                </setting>
                <setting name="ServerNamePassLogin" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ShouldInitialize" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="FileVVS" serializeAs="String">
                        <value/>
                </setting>
                <setting name="FileVUCRO" serializeAs="String">
                        <value/>
                </setting>
                <setting name="FileVUCPO" serializeAs="String">
                        <value/>
                </setting>
                <setting name="FileMVRO" serializeAs="String">
                        <value/>
                </setting>
                <setting name="FileMVPO" serializeAs="String">
                        <value/>
                </setting>
                <setting name="FilePROPO" serializeAs="String">
                        <value/>
                </setting>
                <setting name="FilePRORO" serializeAs="String">
                        <value/>
                </setting>
        </cvti.isef.winformapp.Properties.Settings>
        <cvti.isef.winformapp.Properties.MainWindow>
            <setting name="Test" serializeAs="String">
                <value/>
            </setting>
        </cvti.isef.winformapp.Properties.MainWindow>
    </userSettings>
    <applicationSettings>
        <cvti.isef.winformapp.Properties.Settings>
            <setting name="FileObceBA" serializeAs="String">
                <value>31777007</value>
            </setting>
            <setting name="FileObceTT" serializeAs="String">
                <value>31777091</value>
            </setting>
            <setting name="FileObceTN" serializeAs="String">
                <value>31777252</value>
            </setting>
            <setting name="FileObceZA" serializeAs="String">
                <value>31777350</value>
            </setting>
            <setting name="FileObceBB" serializeAs="String">
                <value>31777473</value>
            </setting>
            <setting name="FileObcePR" serializeAs="String">
                <value>31777619</value>
            </setting>
            <setting name="FileObceKE" serializeAs="String">
                <value>31777759</value>
            </setting>
            <setting name="FileObceNR" serializeAs="String">
                <value>31777171</value>
            </setting>
        </cvti.isef.winformapp.Properties.Settings>
    </applicationSettings>
</configuration>
